{% extends "templates/base.html" %}

{% load static %}

{% block endjs %}
<script src="{% static "dist/js/advertising/AdOrder.js" %}"></script>
<script src="{% static "dist/js/advertising/OrderSubtotal.js" %}"></script>
<script src="{% static "dist/js/advertising/OrderDrafts.js" %}"></script>
{% endblock %}

{% block page-header %}<i class="fa fa-bullhorn"></i> Advertising{% endblock %}

{% block breadcrumb %}
<li class="active">Advertising</li>
{% endblock %}

{% block content %}
<div id="content">
  <div class="col-md-10">
    {% if access == "deny" %}
    <div id="message">{{ message }}</div>
    {% else %}
    <div id="message">{{ message }}</div>

    <form method="post" name="new_order_form" id="new_order_form">
      {% csrf_token %}

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details">Details</a></li>
        <li><a data-toggle="tab" href="#adjustments">Adjustments</a></li>
      </ul>

      <div class="tab-content"><br>
        <div id="details" class="tab-pane fade in active">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="account">Account</label>
                <select name="account" id="account" class="form-control" required>
                  <option value="">Select an Account...</option>
                  {% for account in accounts %}
                  <option value="{{ account.id }}" {% if account.id == draft.account.id %}selected{% endif %}>
                    {{ account.name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="publication">Publication</label>
                <select class="form-control" id="publication" name="publication" required multiple>
                  {% for publication in publications %}
                  <option value="{{ publication.id }}" {% if publication.id in draftPublications %}selected{% endif %}>
                    {{ publication.name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="notes">Notes</label>
                <textarea name="notes" id="notes" class="form-control" cols="20" rows="5">{{ draft.notes }}</textarea>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="submitter">Ad Taker</label>
                <input class="form-control" type="text" name="submitter" value="{{ user.username }}" required />
              </div>
              <div class="form-group">
                <label for="sales_person">Sales Person</label>
                <select class="form-control" name="sales_person" id="sales_person" required>
                  <option value="">Select Sales Person...</option>
                  {% for sales_person in sales_people %}
                  <option value="{{ sales_person.id }}" {% if sales_person.id == draft.salesperson.id %}selected{% endif %}>
                    {{ sales_person.id }} - {{ sales_person.first_name }} {{ sales_person.last_name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="start_date">Start Date</label>
                <input type="date" name="start_date" id="start_date" class="form-control" value="{{ draft.start_date }}"
                  required />
              </div>
              <div class="form-group">
                <label for="end_date">End Date</label>
                <input type="date" name="end_date" id="end_date" class="form-control" value="{{ draft.end_date }}"
                  required />
              </div>
              <div class="form-group">
                <label for="bill_date">Bill Date</label>
                <select class="form-control" name="bill_date" id="bill_date" required>
                  <option value="">Select a billing date...</option>
                  <option value="bill_at_start">Bill at Start Date</option>
                  <option value="bill_at_end">Bill at End Date</option>
                  <option value="custom">Custom</option>
                </select>
              </div>
              <div class="form-group" id="custom_billing_date_form" style="display:none;">
                <label for="custom_billing_date">Custom Billing Date</label>
                <input class="form-control" type="date" name="custom_billing_date" id="custom_billing_date" />
              </div>
              <div class="form-group">
                <input type="checkbox" class="form-check-input" id="tearsheets" name="tearsheets">
                <label class="form-check-label" for="tearsheets" {% if draft.tearsheets %}checked{% endif %}>Tearsheets</label>
              </div>
              {% if perms.advertising.can_make_ad_color %}
              <div class="form-group">
                <input type="checkbox" class="form-check-input" id="color" name="color">
                <label class="form-check-label" for="color">Color</label>
              </div>
              <div class="form-group" id="color-type" style="display:none">
                <label for="color_type">Color Type</label>
                <select class="form-control" name="color_type" id="color_type">
                  <option value="">Select Color Type...</option>
                  <option value="full_color">Full Color</option>
                  <option value="black_and_white">Black and White</option>
                  <option value="solid_color">Solid Color</option>
                </select>
              </div>
              {% endif %}
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="ad_type">Ad Type</label>
                <select class="form-control" name="ad_type" id="ad_type" data-code="{{ ad_type.name }}" required>
                  <option value="">Select Ad Type...</option>
                  {% for ad_type in ad_types %}
                  <option value="{{ ad_type.id }}" {% if ad_type.id == draft.ad_type.id %}selected{% endif %}>{{ ad_type.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="ad_rate">Ad Rate</label>
                <select name="ad_rate" id="ad_rate" class="form-control" data-code="{{ rate.name }}" required>
                  <option value="">Select Ad Rate...</option>
                  {% for rate in ad_rates %}
                  <option value="{{ rate.id }}" {% if rate.id == draft.rate.id %}selected{% endif %}>
                    {{ rate.name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="unit_type">Number of Units</label>
                    <input type="number" name="number_units" id="number_units" class="form-control"
                      value="{{ draft.number_units }}" required>
                  </div>
                </div>
                <div class="col-md 6">
                  <div class="form-group">
                    <div id="rate-unit-type"></div>
                  </div>
                </div>
              </div>
              {% if perms.advertising.can_override_pricing %}
              <div class="form-group">
                <label for="override_ad_cost">Override Ad Cost</label>
                <input type="number" name="override_ad_cost" id="override_ad_cost" class="form-control" />
              </div>
              {% endif %}
              <div class="form-group" id="predetermined">
                <label for="size">Size</label>
                <select name="size" class="form-control" id="size" required>
                  <option value="">Select Size...</option>
                  <option value="quarter" {% if draft.size == "quarter" %}selected{% endif %}>Quarter Page</option>
                  <option value="half" {% if draft.size == "half" %}selected{% endif %}>Half Page</option>
                  <option value="full" {% if draft.size == "full" %}selected{% endif %}>Full Page</option>
                  {% if perms.advertising.can_define_custom_size %}
                  <option value="custom" {% if draft.size == "custom" %}selected{% endif %}>Custom</option>
                  {% endif %}
                </select>
              </div>
              {% if perms.advertising.can_define_custom_size %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" style="display: none;" id="custom_min_width">
                    <label for="custom_min_width">Custom Min Width (in inches)</label>
                    <input type="number" class="form-control" name="custom_min_width"
                      placeholder="Enter Custom Min Width..." value="{{ draft.custom_min_width }}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" style="display: none;" id="custom_min_height">
                    <label for="custom_min_height">Custom Min Height (in inches)</label>
                    <input type="number" class="form-control" name="custom_min_height"
                      placeholder="Enter Custom Min Height..." value="{{ draft.custom_min_height }}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" style="display: none;" id="custom_max_width">
                    <label for="custom_max_width">Custom Max Width (in inches)</label>
                    <input type="number" class="form-control" name="custom_max_width"
                      placeholder="Enter Custom Max Width..." value="{{ draft.custom_max_width }}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" style="display: none;" id="custom_max_height">
                    <label for="custom_max_height">Custom Max Height (in inches)</label>
                    <input type="number" class="form-control" name="custom_max_height"
                      placeholder="Enter Custom Max Height..." value="{{ draft.custom_max_height }}">
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>

        <div id="adjustments" class="tab-pane fade in">
          <div class="row">
            <div class="col-md-6">
              {% if adjustments %}
              <table class="table table-hover table-striped" id="adjustment-table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for adjustment in adjustments %}
                  <tr id="{{ adjustment.id }}">
                    <div class="form-check">
                      <td>{{ adjustment.id }}</td>
                      <td>{{ adjustment.code }}</td>
                      <td>{{ adjustment.description }}</td>
                      <td><input type="checkbox" class="form-check-input adjustment"
                          name="adjustment-{{ adjustment.id }}" id="{{ adjustment.code }}" {% if adjustment.id in draftAdjustments %}checked{% endif %}></td>
                    </div>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <h3>No Adjustments</h3>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <!-- add this to button below  -->
      <!-- data-toggle="modal" data-target="#modal" -->
      <!-- <button type="button" id="submit-btn" class="btn btn-primary" data-toggle="modal" data-target="#subtotalModal"> -->
      <button type="button" id="submit-btn" class="btn btn-primary">
        Preview Order
      </button>
    </form>

    {% endif %}
  </div>

  <div class="modal" id="subtotalModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Order Summary</h2>
        </div>
        <div class="modal-body" id="modal-body">
          {% if adjustments %}
          <div class="row">
            <div class="col-md-6">
              <h3>Details</h3>
              <table class="table table-hover table-striped" id="subtotal-table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <div class="col-md-6">
              <h3>Adjustments</h3>
              <table class="table table-hover table-striped" id="subtotal-adjustments-table">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>

          {% else %}
          <h3>Details</h3>
          <table class="table table-hover table-striped" id="subtotal-table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          {% endif %}
          <h2 style="text-align: right;">Total: <span id="finalPrice"></span></h2>
        </div>
        <div class="modal-footer">
          <button type="button" id="save-edited-draft" class="btn btn-primary">Save</button>
          <button type="submit" id="draft-submit-btn" class="btn btn-primary">Create Order</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    var customSizeCheckbox = document.getElementById('customSizes');
    var predeterminedSizes = document.getElementById('predetermined');
    var customMinHeight = document.getElementById('custom_min_height');
    var customMinWidth = document.getElementById('custom_min_width');
    var customMaxWidth = document.getElementById('custom_max_width');
    var customMaxHeight = document.getElementById('custom_max_height');

    var sizeDropdown = document.getElementById('size');

    size.addEventListener('change', function (e) {
      if (size.value == 'custom') {
        customMinHeight.style.display = "block";
        customMinWidth.style.display = "block";
        customMaxWidth.style.display = "block";
        customMaxHeight.style.display = "block";
      } else {
        customMinHeight.style.display = "none";
        customMinWidth.style.display = "none";
        customMaxWidth.style.display = "none";
        customMaxHeight.style.display = "none";
      }
    });

    var colorCheckbox = document.getElementById('color');
    var colorTypeDropdown = document.getElementById('color-type');

    colorCheckbox.addEventListener('click', (e) => {
      let checked = e.target.checked;
      if (checked) {
        colorTypeDropdown.style.display = "block";
      } else {
        colorTypeDropdown.style.display = "none";
      }
    })

    document.getElementById('bill_date').addEventListener('change', (e) => {
      if (e.target.value == 'custom') {
        document.getElementById('custom_bill_date').style.display = "block";
      } else {
        document.getElementById('custom_bill_date').style.display = "none";
      }
    })

    let draftId = "{{ draftId }}";
    let startDate = "{{ draftStartDate }}";
    let endDate = "{{ draftEndDate }}";
    let billDate = "{{ draftBillDate }}";

    if (endDate == billDate) {
      document.getElementById('bill_date').value = 'bill_at_end';
    } else if (endDate == startDate) {
      document.getElementById('bill_date').value = 'bill_at_start';
    } else {
      document.getElementById('bill_date').value = 'custom';
      document.getElementById('custom_billing_date').value = billDate;
    }

    let draftAdRateId = "{{ draftAdRateId }}";
  </script>
</div>
{% endblock %}