<div class="modal" id="lateApprovalModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="confirmEmailForm">
            <p>
              The ad order you're trying to submit is past the deadline for submitted material.
              In order to continue, please enter a manager's email and the pubication's email address for approval.
            </p>
            <label for="managerEmail">Manager Email</label>
            <input type="email" name="managerEmail" id="managerEmail" />

            <label for="publicationEmail">Publication Email</label>
            <input type="email" name="publicationEmail" id="publicationEmail" />
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" id="confirm-submit" class="btn btn-success">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>