<section id="edit_gl_code_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit GL Code</h4>
            </div>
            <div class="modal-body">
                <form id="edit_gl_code_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="editCode">Code</label>
                                <input type="text" name="editCode" id="editCode" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="editDescription">Description</label>
                                <input type="text" name="editDescription" id="editDescription" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-md btn-primary" value="submit" id="edit_gl_code_submit">Save</button>
            </div>
        </div>
    </div>
</section>