{% extends "templates/base.html" %}

{% block page-header %}<i class="fa fa-bullhorn"></i> Advertising{% endblock %}

{% block breadcrumb %}
    <li class="active">Advertising</li>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="col-md-10">
            {% if access == "deny" %}
                <div id="message">{{ message }}</div>
            {% else %}
                <div id="message">{{ message }}</div>
                <h2>Import Account Data</h2>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            <label for="csv_file" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
                            <div class="col-md-8">
                                <input type="file" name="csv_file" id="csv_file" required="True" class="form-control" accept=".csv">
                            </div>                    
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}