{% extends "templates/base.html" %}

{% load static %}

{% block endjs %}
    <script src='{% static "dist/js/advertising/Search.js" %}'></script>
{% endblock %}


{% block breadcrumb %}
<li class="active">Advertising</li>
{% endblock %}

{% block content %}

<div id="content" class="advertising-content">
    <div class="main-content">
        <div class="advertising-back-image">
            <img src="{% static "svg/advertising_back_img.svg" %}">
        </div>

        <div class="content text-center c-content">
            <h1 style="margin-bottom: 40px"><i class="fa fa-bullhorn"></i>&nbsp;Welcome to Advertising</h1>

            <h4 style="margin-bottom: 45px">
                <a href="#">Pubs & Accounts</a> &nbsp;|&nbsp;
                <a href="#">Announcements</a> &nbsp;|&nbsp;
                <a href="#">Today's Tasks</a> &nbsp;|&nbsp;
                <a href="#">Sales Goal</a> &nbsp;|&nbsp;
                <a href="#">Weekly Progress</a>
            </h4>

            <button class="mt-2 create-new" data-toggle="modal" data-target="#myModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
                    <path d="M17.6429 7.07143H11.5357V1.28571C11.5357 0.575759 10.928 0 10.1786 0H8.82143C8.07203 0 7.46429 0.575759 7.46429 1.28571V7.07143H1.35714C0.607746 7.07143 0 7.64719 0 8.35714V9.64286C0 10.3528 0.607746 10.9286 1.35714 10.9286H7.46429V16.7143C7.46429 17.4242 8.07203 18 8.82143 18H10.1786C10.928 18 11.5357 17.4242 11.5357 16.7143V10.9286H17.6429C18.3923 10.9286 19 10.3528 19 9.64286V8.35714C19 7.64719 18.3923 7.07143 17.6429 7.07143Z" fill="#21215F"/>
                </svg>
                Create Something New!
            </button>

            <hr style="margin-bottom: 25px">

            <div class="card m-2 text-left mt-4">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="primary">
                            Publications & Accounts
                            <hr style="height:3px; margin-right: 30px">
                        </h2>
                    </div>

                    <div class="col-md-8 text-right">
                        <div class="input-group-rounded c-search-publication">
                            <input type="text" id="search-input" class="form-control c-search"
                                   placeholder="Search by Publication Name or Account Name"
                            />

                            <span class="input-group-mark">
                                <i class="glyphicon glyphicon-search mr-1 success"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 80px">
                    <div class="col-md-4">
                        <h3>
                            Publication
                            <hr class="bg-success c-pub-hr">
                        </h3>

                        <table id="publication-table" class="w-full general-table">
                            <thead>
                                <th>ID</th>
                                <th>NAME</th>
                            </thead>

                            {% if publications %}
                            <tbody>
                                {% for publication in publications %}
                                <tr>
                                    <td>{{ publication.id }}</td>
                                    <td>
                                        <a href="{% url 'view_publication' publication.id %}">{{ publication.name }}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% else %}

                            <tbody>
                                <tr>
                                    <td colspan="3">No Publications Found</td>
                                </tr>
                            </tbody>
                            {% endif %}
                        </table>
                    </div>

                    <div class="col-md-8">
                        <h3>Accounts
                            <hr class="bg-success c-acc-hr">
                        </h3>

                        <table id="account-table" class="w-full general-table">
                            <thead>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>TYPE</th>
                            </thead>

                            <tbody>
                                {% for account in accountList %}
                                <tr>
                                    <td>{{ account.id }}</td>
                                    <td><a href="{% url 'advertising_account' account.id %}">{{ account.name }}</a></td>
                                    <td>{{ account.account_type.name }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3">No Accounts Found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="position: relative; overflow: hidden">
                <img src="{% static "svg/advertising_modal_img.svg" %}" class="advertising-modal-img">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-notice">
                        Get Started With Something New!
                    </div>

                    <div class="modal-body advertising-modal-body" style="z-index: 1">
                        <div class="anim-btn text-center">
                            <a href="{% url 'create_classified_ad' %}">
                                <div class="c-new-ad">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                      <path d="M14.8571 6.28571H9.71429V1.14286C9.71429 0.511786 9.2025 0 8.57143 0H7.42857C6.7975 0 6.28571 0.511786 6.28571 1.14286V6.28571H1.14286C0.511786 6.28571 0 6.7975 0 7.42857V8.57143C0 9.2025 0.511786 9.71429 1.14286 9.71429H6.28571V14.8571C6.28571 15.4882 6.7975 16 7.42857 16H8.57143C9.2025 16 9.71429 15.4882 9.71429 14.8571V9.71429H14.8571C15.4882 9.71429 16 9.2025 16 8.57143V7.42857C16 6.7975 15.4882 6.28571 14.8571 6.28571Z" fill="#F26722"/>
                                    </svg>
                                    New Ad Campaign
                                </div>
                            </a>
                        </div>

                        <div class="anim-btn text-center mt-2"></div>

                        <div class="anim-btn text-center mt-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var salesperson_id = "{{ salesperson_id }}";

</script>
{% endblock %}