{% extends "templates/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "admin/css/advertiser.css" %}">
{% endblock %}

{% block endjs %}
    <script src='{% static "dist/js/advertising/CreateNewAdvertiser.js" %}'></script>
{% endblock %}

{% block breadcrumb %}
<li class="active">Advertising</li>
{% endblock %}

{% block content %}
    <div class="advertiser-back-image">
        <img src="{% static "svg/advertiser_back_img.svg" %}">
    </div>

    <div id="advertiser-content">
        <div class="col-md-12">
            <div class="advertiser-logo">
                <img alt="Advertiser Logo" src="{% static "svg/advertiser_logo.svg" %}">
            </div>

            <div class="advertiser-title">
                <span>Create a New Advertiser</span>
            </div>

            <div class="advertiser-info">
                <div class="info-left">
                    <div class="advertiser-item">
                        <label>Account Type:</label>

                        <select class="advertiser-item-input" style="width: 60%">
                            <option disabled selected value="">Select</option>
                        </select>
                    </div>

                    <div class="advertiser-item">
                        <label>Contact Name:</label>
                        <div>
                           <input type="text" class="advertiser-item-input" placeholder="First Name...">

                           <input type="text" class="advertiser-item-input" placeholder="Last Name...">
                        </div>
                    </div>

                    <div class="advertiser-item">
                        <label>Business Name:</label>

                        <input type="text" class="advertiser-item-input" placeholder="Enter Business Name...">
                    </div>

                    <div class="advertiser-item">
                        <label>Address:</label>

                        <input type="text" class="advertiser-item-input" placeholder="Enter Address...">
                    </div>

                    <div class="advertiser-item">
                        <label>City:</label>

                        <input type="text" class="advertiser-item-input" placeholder="Enter City...">
                    </div>

                    <div class="advertiser-item-group">
                        <div class="advertiser-item">
                            <label>State:</label>

                            <select class="advertiser-item-input">
                                <option disabled selected value="">Select</option>
                            </select>
                        </div>

                        <div class="advertiser-item">
                            <label>Zip Code:</label>

                            <input type="text" class="advertiser-item-input" placeholder="Enter Zip Code...">
                        </div>
                    </div>

                    <div class="advertiser-item-group">
                        <div class="advertiser-item">
                            <label>
                                <img alt="Phone Logo" src="{% static "svg/advertiser_phone.svg" %}">
                                Phone Number:
                            </label>

                            <input type="text" class="advertiser-item-input" placeholder="(111)111-1111">
                        </div>

                        <div class="advertiser-item">
                            <label>
                                <img alt="Email Logo" src="{% static "svg/advertiser-email.svg" %}">
                                Email:
                            </label>

                            <input type="text" class="advertiser-item-input" placeholder="JhonSmith@gmail.com">
                        </div>
                    </div>

                    <div class="advertiser-item">
                        <label>Website:</label>

                        <input type="text" class="advertiser-item-input" style="width: 70%">
                    </div>
                </div>

                <div class="info-right">
                    <div class="advertiser-item-group">
                        <div class="advertiser-item market">
                            <label>Market Code:</label>

                            <select class="advertiser-item-input">
                                <option disabled selected value="">Select</option>
                            </select>
                        </div>

                        <div class="advertiser-item sales">
                            <label>Sales Person:</label>

                            <select class="advertiser-item-input">
                                <option disabled selected value="">Select</option>
                            </select>
                        </div>
                    </div>

                    <div class="advertiser-item-group">
                        <div class="advertiser-item submitter">
                            <label>Submitter/Ad Taker:</label>

                            <input type="text" class="advertiser-item-input" placeholder="Enter Submitter/Adtaker...">
                        </div>

                        <div class="advertiser-item legacy">
                            <label>Legacy ID<span>(optional)</span>:</label>

                            <input type="text" class="advertiser-item-input" placeholder="Enter Legacy ID...">
                        </div>
                    </div>

                    <div class="advertiser-billing-area">
                        <div class="advertiser-billing-title">Billing Info</div>
                    </div>

                    <div class="advertiser-item">
                        <label>
                            <img alt="Email Logo" src="{% static "svg/advertiser-email.svg" %}">
                            Billing Email:
                        </label>

                        <input type="text" class="advertiser-item-input" placeholder="companyemail@gmail.com" style="width: 55% !important;">
                    </div>

                    <div class="advertiser-address-type">
                        <div class="advertiser-type-item selected-radio">
                            <div class="radio-button"></div>
                            <label>New Address</label>
                        </div>

                        <div class="advertiser-type-item">
                            <div class="radio-button"></div>
                            <label>Use Same Address</label>
                        </div>
                    </div>

                    <div class="advertiser-item" style="margin-bottom: 29px">
                        <label>Address:</label>

                        <input type="text" class="advertiser-item-input" placeholder="companyemail@gmail.com">
                    </div>

                    <div class="advertiser-item" style="margin-bottom: 29px">
                        <label>City:</label>

                        <input type="text" class="advertiser-item-input" placeholder="Enter City...">
                    </div>

                    <div class="advertiser-item-group">
                        <div class="advertiser-item state">
                            <label>State:</label>

                            <select class="advertiser-item-input">
                                <option disabled selected value="">Select</option>
                            </select>
                        </div>

                        <div class="advertiser-item zipCode">
                            <label>Zip Code:</label>

                            <input type="text" class="advertiser-item-input" placeholder="Enter Legacy ID...">
                        </div>
                    </div>

                    <div class="advertiser-option">
                        <div class="advertiser-cancel">Cancel</div>

                        <div class="advertiser-create">Create Account</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}