{% extends "templates/base.html" %}

{% load static %}

{% block endjs %}
<script src="{% static "dist/js/advertising/SearchPublic.js" %}"></script>
<script src="{% static "dist/js/advertising/ClassfiedsNew.js" %}"></script>
{% endblock %}

{% block breadcrumb %}
<li class="active">Advertising</li>
{% endblock %}

{% block content %}
<style>
    .hide {
        display: none;
    }

    .scrollbar {
        height: 300px;
        overflow-y: auto;
        padding: 0 10px;
        overflow-x: hidden;
    }

    /*       ScrollBar 1        */

    #scrollbar1::-webkit-scrollbar {
        width: 16px;
    }

    #scrollbar1::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: #e7e7e7;
        border: 1px solid #cacaca;
    }

    #scrollbar1::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 3px solid transparent;
        background-clip: content-box;
        background-color: #21215F;
    }

    .timeline {
        list-style-type: none;
        display: flex;
        padding: 0;
        text-align: center;
    }

    .time-line-box .timestamp {
        margin: auto;
        margin-bottom: 5px;
        padding: 0px 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .time-line-box .status {
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        border-top: 3px solid #ccc;
        position: relative;
        transition: all 200ms ease-in;
    }

    .time-line-box .status.active {
        padding: 0 10px;
        display: flex;
        justify-content: center;
        border-top: 3px solid #F26722;
        position: relative;
        transition: all 200ms ease-in;
    }

    .time-line-box .status span {
        padding-top: 8px;
    }

    .time-line-box .status span:before {
        content: '';
        width: 30px;
        height: 30px;
        background-color: #ccc;
        border-radius: 30px;
        border: 2px solid #ccc;
        position: absolute;
        left: 50%;
        top: 0%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: all 200ms ease-in;
    }

    .time-line-box .status.active span:before {
        content: '';
        width: 30px;
        height: 30px;
        background-color: #F26722;
        border-radius: 30px;
        border: 2px solid #F26722;
        position: absolute;
        left: 50%;
        top: 0%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: all 200ms ease-in;
    }

    .swiper-container {
        width: 95%;
        margin: auto;
        overflow-y: auto;
    }

    .swiper-wrapper {
        display: inline-flex;
        flex-direction: row;
        height: 50px;
        justify-content: center;
    }

    .swiper-container::-webkit-scrollbar-track {
        background: #a8a8a8b6;
    }

    .swiper-container::-webkit-scrollbar {
        height: 2px;
    }

    .swiper-container::-webkit-scrollbar-thumb {
        background: #4F4F4F !important;
    }

    .swiper-slide {
        text-align: center;
        font-size: 12px;
        width: 70px;
        height: 100%;
        position: relative;
    }
</style>`

<div id="content">`
    <div class="content text-center">
        <h1 style="margin-bottom: 50px">New Ad Campaign</h1>
        <div class="card c-card">
            <div>
                <div class="col-md-12 hide" id="section1">
                    <div class="time-line-box mt-1">
                        <div class="swiper-container text-center">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>
                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>

                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>

                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>

                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>

                                    <div class="status"><span></span></div>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <h2 class="mt-4 sub-title">Select An Advertiser</h2>

                    <div class="mt-4">
                        <select id="search-select" class="form-control shadow" onchange="selectedAdvertiser()"
                                style="width: 50%">
                            <option value="" disabled selected>
                                Select an Advertiser
                            </option>
                            {% for account in accounts %}
                            <option value="{{ account.submitter }}">
                                {{ account.submitter }}
                            </option>
                            {% endfor %}
                        </select>

                        <span class="text-right"
                              style="width: 50%; display: block; margin: auto; margin-top: 5px !important; color: black">
                            Don't see your advertiser?
                            <a style="cursor: pointer; color: #21215f; text-decoration: underline;" data-toggle="modal"
                               data-target="#createAdvertiseModal">
                                Click here to create one!
                            </a>
                        </span>
                    </div>

                    <div class="mt-4 text-right">
                        <button class="btn btn-primary bg-primary shadow c-option-btn" onclick="advertiser_next()">
                            Next
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16"
                                 fill="none">
                                <path d="M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928932C12.9526 0.538408 12.3195 0.538408 11.9289 0.928932C11.5384 1.31946 11.5384 1.95262 11.9289 2.34315L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM0 9L19 9V7L0 7L0 9Z"
                                      fill="white"/>
                            </svg>
                        </button>
                    </div>

                    <img class="mt-2 c-background2" src="{% static 'svg/Ellipse 9.svg' %}">
                </div>

                <div class="col-md-12 hide" id="section2">
                    <div class="time-line-box mt-1">
                        <div class="swiper-container text-center">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>
                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>
                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>
                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>
                                    <div class="status"><span></span></div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <h2 class="mt-4 sub-title">Ad Campaign Info</h2>
                    <div class="m-2">
                        <form class="text-left c-form" action="#">
                            <div class="form-group">
                                <label for="orderName">*Order Name:</label>

                                <input type="text" id="orderName" class="form-control shadow"
                                       placeholder="Enter Order Name" name="orderName">
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="sel1">*Sales Contact:</label>

                                            <select class="form-control shadow" id="sell" style="border-radius: 4px">
                                                <option>Select a Salesperson</option>
                                                {% for salesperson in salespersonList %}
                                                <option value="{{ salesperson.first_name }} {{salesperson.last_name}}">
                                                    {{ salesperson.first_name }} {{ salesperson.last_name}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="startDate" style="display: block">*Start Date:</label>

                                            <input type="date" id="startDate" style="border-radius: 4px;"/>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="endDate">End Date(optional):</label>

                                            <input type="date" id="endDate" style="border-radius: 4px;">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="brief">Brief Description(optional)</label>

                                <textarea class="form-control shadow" rows="5" id="brief"
                                          style="resize: none; border-radius: 4px;"></textarea>
                            </div>
                        </form>
                    </div>

                    <div class="flex-row">
                        <button class="btn btn-primary bg-primary c-option-btn" onclick="showSection(1)"
                                style="width: 40%;">
                            Previous
                        </button>

                        <button class="btn btn-primary bg-primary c-option-btn" onclick="campaign_next()"
                                style="width: 40%;">
                            Next
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16"
                                 fill="none">
                                <path d="M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928932C12.9526 0.538408 12.3195 0.538408 11.9289 0.928932C11.5384 1.31946 11.5384 1.95262 11.9289 2.34315L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM0 9L19 9V7L0 7L0 9Z"
                                      fill="white"/>
                            </svg>
                        </button>
                    </div>

                    <img src="{% static "svg/Ellipse 9 (1).svg" %}" style="width: 100%;">
                </div>

                <div class="col-md-12 hide" id="section3">
                    <div class="time-line-box mt-1">
                        <div class="swiper-container text-center">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>

                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>

                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>

                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>

                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>

                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>

                                    <div class="status"><span></span></div>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <h2 class="mt-4 sub-title">Select Your Ad Format(s)</h2>

                    <div class="flex-row c-p-adFormat">
                        <button class="btn btn-primary bg-primary c-filter">
                            <img src={% static "svg/Vector (1).svg" %}>
                            Filter
                        </button>

                        <div class="input-group-rounded" style="width:300px;float: right;">
                            <input id="search-pub" type="text" class="form-control" placeholder="Search"/>

                            <span class="input-group-mark">
                                <i class="glyphicon glyphicon-search mr-1 primary"></i>
                            </span>
                        </div>
                    </div>

                    <div class="card scrollbar text-left c-adFormat" id="scrollbar1">
                        <div class="publication">
                            {% for adType in adTypes %}
                            <div id="ad_{{adType.id}}" class="col-md-4 pub_ele">
                                <div class="flex-col pub-card">
                                    <div class="c-ad-name">
                                        <h3 class="pub_name">{{adType.name}}</h3>
                                    </div>

                                    <div class="flex-row content-left c-ml-10" onclick="selectStar({{adType.id}})">
                                        <img id="star_{{adType.id}}" src="{% static "svg/Star-white.svg" %}"
                                        style="height: 18px;">&nbsp;

                                        <h4 class="c-favorite" style="line-height: 20px;">Add to Favorites</h4>
                                    </div>

                                    <div class="c-adType-hover" onclick="selectPublications({{adType.id}})">
                                        Added to <br> Campaign!
                                    </div>
                                </div>

                                <div id="favoriteIcon_{{adType.id}}" class="text-center pub-mark">
                                    <img src="{% static "svg/Vector (2).svg" %}" style="height: 15px;margin-top:8px;">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="flex-row">
                        <button class="btn btn-primary bg-primary c-option-btn" onclick="showSection(2)"
                                style="width:40%;">
                            Previous
                        </button>

                        <button class="btn btn-primary bg-primary c-option-btn" onclick="showSection(4)"
                                style="width:40%;">
                            Next
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16"
                                 fill="none">
                                <path d="M19.7071 8.70711C20.0976 8.31658 20.0976 7.68342 19.7071 7.29289L13.3431 0.928932C12.9526 0.538408 12.3195 0.538408 11.9289 0.928932C11.5384 1.31946 11.5384 1.95262 11.9289 2.34315L17.5858 8L11.9289 13.6569C11.5384 14.0474 11.5384 14.6805 11.9289 15.0711C12.3195 15.4616 12.9526 15.4616 13.3431 15.0711L19.7071 8.70711ZM0 9L19 9V7L0 7L0 9Z"
                                      fill="white"/>
                            </svg>
                        </button>
                    </div>

                    <img src="{% static "svg/Ellipse 9 (1).svg" %}" style="width: 100%;">
                </div>

                <div class="col-md-12" id="section4">
                    <div class="time-line-box mt-1">
                        <div class="swiper-container text-center">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>

                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>

                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>

                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>

                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>

                                    <div class="status"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>

                                    <div class="status"><span></span></div>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <h2 class="mt-4">Select Your Ad Specs</h2>

                    <div class="c-m-panel">
                        <div class="btn secondary c-section" data-toggle="collapse" data-target="#demo" onclick="collapseEditSpec(this)">
                            ROP
                            <svg class="c-svg-active" xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                                <path d="M10.9393 13.0607C11.5251 13.6464 12.4749 13.6464 13.0607 13.0607L22.6066 3.51472C23.1924 2.92893 23.1924 1.97919 22.6066 1.3934C22.0208 0.807611 21.0711 0.807611 20.4853 1.3934L12 9.87868L3.51472 1.3934C2.92893 0.807611 1.97919 0.807611 1.3934 1.3934C0.807611 1.97919 0.807611 2.92893 1.3934 3.51472L10.9393 13.0607ZM10.5 11V12H13.5V11H10.5Z" fill="#666666"/>
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                                <path d="M13.0607 0.93934C12.4749 0.353553 11.5251 0.353553 10.9393 0.93934L1.3934 10.4853C0.807611 11.0711 0.807611 12.0208 1.3934 12.6066C1.97919 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.93934ZM13.5 3V2L10.5 2V3L13.5 3Z" fill="#666666"/>
                            </svg>
                        </div>

                        <div id="demo" class="collapse">
                        </div>
                    </div>

                    <div class="c-m-panel">
                        <div class="btn secondary c-section" data-toggle="collapse" data-target="#demo1" onclick="collapseEditSpec(this)">
                            Print
                            <svg class="c-svg-active" xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                                <path d="M10.9393 13.0607C11.5251 13.6464 12.4749 13.6464 13.0607 13.0607L22.6066 3.51472C23.1924 2.92893 23.1924 1.97919 22.6066 1.3934C22.0208 0.807611 21.0711 0.807611 20.4853 1.3934L12 9.87868L3.51472 1.3934C2.92893 0.807611 1.97919 0.807611 1.3934 1.3934C0.807611 1.97919 0.807611 2.92893 1.3934 3.51472L10.9393 13.0607ZM10.5 11V12H13.5V11H10.5Z" fill="#666666"/>
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14" fill="none">
                                <path d="M13.0607 0.93934C12.4749 0.353553 11.5251 0.353553 10.9393 0.93934L1.3934 10.4853C0.807611 11.0711 0.807611 12.0208 1.3934 12.6066C1.97919 13.1924 2.92893 13.1924 3.51472 12.6066L12 4.12132L20.4853 12.6066C21.0711 13.1924 22.0208 13.1924 22.6066 12.6066C23.1924 12.0208 23.1924 11.0711 22.6066 10.4853L13.0607 0.93934ZM13.5 3V2L10.5 2V3L13.5 3Z" fill="#666666"/>
                            </svg>
                        </div>

                        <div id="demo1" class="collapse secondary p-2 c-ad-spec">
                            <div>
                                <div class="c-ad-spec-label">Select Your Publication:</div>
                                <div class="select-publication">
                                    <select class="form-control" id="select-pub">
                                        <option value="0">Times Leader-Print Edition</option>
                                        <option value="1">Times Leader-PRO Edition</option>
                                    </select>

                                    <button>
                                        + Start An Ad For This Publication
                                    </button>

                                    <h4 class="black">$0.00</h4>
                                </div>

                                <hr class="black">

                                <div class="edit-ad">
                                    <div class="edit-ad-item">
                                        <div class="edit-ad-item-title">
                                            <span>Thanksgiving</span>

                                            <h6>Qty:</h6>

                                            <input type="text">

                                            <h4 class="black">$0.00</h4>
                                        </div>

                                        <div class="value-items">
                                            <div class="value-items-half">
                                                <div class="ad-type">
                                                    <div class="ad-type-label">Ad Type:</div>

                                                    <div class="ad-type-value">*Value</div>
                                                </div>

                                                <div class="ad-date">
                                                    <div class="ad-type-label">Dates:</div>

                                                    <div class="ad-type-value">9/12/2023,</div>
                                                    <div class="ad-type-value">9/17/2023,</div>
                                                    <div class="ad-type-value">10/13/2023,</div>
                                                </div>
                                            </div>

                                            <div class="value-items-half">
                                                <div class="ad-type">
                                                    <div class="ad-type-label">Size:</div>

                                                    <div class="ad-type-value">*Value</div>
                                                </div>

                                                <div class="ad-date">
                                                    <div class="ad-type-label">Rates:</div>

                                                    <div class="ad-type-value">*Value</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="c-calendar">See Calendar</div>

                                        <div class="adjustment-label">Adjustments:</div>

                                        <div class="adjustment-value">
                                            <div>002_COLOR SECONDARY</div>

                                            <div>$0.00</div>
                                        </div>

                                        <div class="c-ad-value-description">
                                            <div class="adjustment-label">Description:</div>

                                            <div class="ad-type-value">
                                                Lorem ipsum dolor sit amet, at natum omnes alienum est.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="edit-ad-item">
                                        <div class="edit-ad-item-title">
                                            <span>Thanksgiving</span>

                                            <h6>Qty:</h6>

                                            <input type="text">

                                            <h4 class="black">$0.00</h4>
                                        </div>

                                        <div class="value-items">
                                            <div class="value-items-half">
                                                <div class="ad-type">
                                                    <div class="ad-type-label">Ad Type:</div>

                                                    <div class="ad-type-value">*Value</div>
                                                </div>

                                                <div class="ad-date">
                                                    <div class="ad-type-label">Dates:</div>

                                                    <div class="ad-type-value">9/12/2023,</div>
                                                    <div class="ad-type-value">9/17/2023,</div>
                                                    <div class="ad-type-value">10/13/2023,</div>
                                                </div>
                                            </div>

                                            <div class="value-items-half">
                                                <div class="ad-type">
                                                    <div class="ad-type-label">Size:</div>

                                                    <div class="ad-type-value">*Value</div>
                                                </div>

                                                <div class="ad-date">
                                                    <div class="ad-type-label">Rates:</div>

                                                    <div class="ad-type-value">*Value</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="c-calendar">See Calendar</div>

                                        <div class="adjustment-label">Adjustments:</div>

                                        <div class="adjustment-value">
                                            <div>002_COLOR SECONDARY</div>

                                            <div>$0.00</div>
                                        </div>

                                        <div class="c-ad-value-description">
                                            <div class="adjustment-label">Description:</div>

                                            <div class="ad-type-value">
                                                Lorem ipsum dolor sit amet, at natum omnes alienum est.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="edit-ad-item">
                                        <div class="edit-ad-item-title">
                                            <span>Thanksgiving</span>

                                            <h6>Qty:</h6>

                                            <input type="text">

                                            <h4 class="black">$0.00</h4>
                                        </div>

                                        <div class="value-items">
                                            <div class="value-items-half">
                                                <div class="ad-type">
                                                    <div class="ad-type-label">Ad Type:</div>

                                                    <div class="ad-type-value">*Value</div>
                                                </div>

                                                <div class="ad-date">
                                                    <div class="ad-type-label">Dates:</div>

                                                    <div class="ad-type-value">9/12/2023,</div>
                                                    <div class="ad-type-value">9/17/2023,</div>
                                                    <div class="ad-type-value">10/13/2023,</div>
                                                </div>
                                            </div>

                                            <div class="value-items-half">
                                                <div class="ad-type">
                                                    <div class="ad-type-label">Size:</div>

                                                    <div class="ad-type-value">*Value</div>
                                                </div>

                                                <div class="ad-date">
                                                    <div class="ad-type-label">Rates:</div>

                                                    <div class="ad-type-value">*Value</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="c-calendar">See Calendar</div>

                                        <div class="adjustment-label">Adjustments:</div>

                                        <div class="adjustment-value">
                                            <div>002_COLOR SECONDARY</div>

                                            <div>$0.00</div>
                                        </div>

                                        <div class="c-ad-value-description">
                                            <div class="adjustment-label">Description:</div>

                                            <div class="ad-type-value">
                                                Lorem ipsum dolor sit amet, at natum omnes alienum est.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="c-ad-spec-label">Select Your Publication:</div>
                                <div class="select-publication">
                                    <select class="form-control" id="select-pub1">
                                        <option value="0">Times Leader-Print Edition</option>
                                        <option value="1">Times Leader-PRO Edition</option>
                                    </select>

                                    <button>
                                        + Start An Ad For This Publication
                                    </button>

                                    <h4 class="black">$0.00</h4>
                                </div>

                                <hr class="black">

                            </div>

                            <div class="ad-option-button">
                                <div class="ad-option-button-item">+ Start A New Publication Ad</div>

                                <div class="ad-option-button-item update-button">Update Total</div>
                            </div>

                            <hr class="black mt-1" style="color: #666">

                            <div class="flex-row">
                                <h5>Print Ad Subtotal:</h5>

                                <h5 class="c-mr-30">$0.00</h5>
                            </div>

                            <div class="flex-row">
                                <h5>Adjustment Total:</h5>

                                <h5 class="c-mr-30">$0.00</h5>
                            </div>

                            <div class="flex-row">
                                <h4>Print Ad(s) Total:</h4>

                                <h4 class="c-mr-50">$0.00</h4>
                            </div>
                        </div>
                    </div>

                    <div class="flex-row c-m-panel">
                        <button class="btn btn-primary bg-primary c-option-btn" onclick="showSection(3)"
                                style="width: 40%;">
                            Previous
                        </button>

                        <button class="btn btn-primary bg-primary c-option-btn" onclick="publication_next()"
                                style="width: 40%;">
                            Next
                        </button>
                    </div>

                    <img class="mt-2" src="{% static "svg/Ellipse 9 (1).svg" %}" style="width: 100%;">
                </div>

                <div class="col-md-12 hide" id="section5">
                    <div class="time-line-box mt-1">
                        <div class="swiper-container text-center">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp"><span class="date"></span></div>
                                    <div class="status"><span></span></div>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="m-2 text-left">
                        <h2 style="background: #666666; border-radius: 4px;">
                            Campaign Details
                            <hr>
                        </h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mt-2">
                                    <h5>Campaign Name:</h5>
                                    <h4 class="black" id="total_orderName"></h4>
                                </div>

                                <div class="mt-2">
                                    <h5>Brief Descriptions:</h5>

                                    <h5 id="total_brief"></h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mt-2 flex-row" style="justify-content: left;align-items: end;">
                                    <div class="mr-2">
                                        <h5>Start Date:</h5>
                                        <h4 id="total_startDate"></h4>
                                    </div>

                                    <div>
                                        <h5>End Date:</h5>
                                        <h4 id="total_endDate"></h4>
                                    </div>
                                </div>

                                <div class="flex-row">
                                    <h5>Accounts #:</h5>
                                    <h5>Advertiser:</h5>
                                </div>

                                <div class="mt-1">
                                    <h4 id="advertise_Name" style="text-align: right"></h4>
                                </div>

                                <div class="mt-2 flex-row">
                                    <h5>ID #:</h5>

                                    <h5>Sales Contacts:</h5>
                                </div>

                                <div>
                                    <h4 id="total_sales" style="text-align: right"></h4>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <h2>Publications Ad Details
                                <hr>
                            </h2>

                            <div class="btn secondary mt-2" data-toggle="collapse" data-target="#demo"
                                 style="width:100%">
                                <div class="flex-row">
                                    <h3>Times Leader - Print Edition</h3>
                                </div>
                            </div>

                            <div class="btn secondary mt-2" data-toggle="collapse" data-target="#demo"
                                 style="width:100%">
                                <div class="flex-row">
                                    <h3>Times Leader - E Edition</h3>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <div class="flex-row">
                                <h5>Subtotal:</h5>
                                <h5>$0.00</h5>
                            </div>

                            <div class="flex-row">
                                <h5>Total Adjustments:</h5>
                                <h5>$0.00</h5>
                            </div>

                            <hr>

                            <div class="flex-row mt-2">
                                <h4>Grand Total:</h4>
                                <h4>$0.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="flex-row m-2">
                        <button class="btn btn-primary bg-primary" onclick="showSection(4)" style="width: 40%;">
                            Previous
                        </button>

                        <button class="btn btn-primary origin" onclick="showSection(6)" style="width: 40%;">Create
                            Campaign!
                        </button>
                    </div>

                    <img class="mt-2" src="{% static "svg/Ellipse 9 (1).svg" %}" style="width: 100%;">
                </div>

                <div class="col-md-12 hide" id="section6">
                    <div class="time-line-box mt-1">
                        <div class="swiper-container text-center">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="timestamp active"><span class="date"></span></div>
                                    <div class="status active"><span></span></div>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="m-2 text-center">
                        <h2 style="line-height: 32px;">Ad Campaign Created!</h2>

                        <div id="favoriteIcon1" class="mt-2 adsuccess-mark">
                            <img src="{% static "svg/Vector (2).svg" %}" class="mt-2" style="height: 20px;">
                        </div>
                    </div>

                    <div class="flex-row m-2" style="justify-content: space-evenly">
                        <button class="btn btn-primary" onclick="showSection(5)"
                                style="width: 25%;background-color: rgb(33,33,95);">Create Another Ad Campaign
                        </button>
                        <button class=" btn btn-primary bg-primary" onclick="" style="width: 25%;">View Ad Campaign
                        </button>
                        <button class=" btn btn-primary bg-primary" onclick="" style="width: 25%;">Print Receipt
                        </button>
                    </div>

                    <img class="mt-2" src="{% static "svg/Ellipse 9 (1).svg" %}" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h3 class="modal-title">Adjustments
                        <hr>
                    </h3>
                </div>

                <div class="modal-body">
                    <div class="row">
                        {% for adjustment in adjustments %}
                        <div class="col-md-6" onclick="selectAdjustment({{adjustment.id}})">
                            <div class="card pub-card">
                                <div class="flex-row">
                                    <h4>{{adjustment.code}}</h4>
                                    <h4>${{adjustment.amount}}</h4>
                                </div>

                                <h5>Description: {{adjustment.description}}</h5>

                                <div class="flex-row content-left">
                                    <h5 class="mr-2">Apply Level: {{adjustment.apply_level}}</h5>
                                    <h5>Section</h5>
                                </div>

                                <div class="flex-row content-left">
                                    <h5 class="mr-2">Value: {{adjustment.amount}}</h5>
                                    <h5>Value: {{adjustment.value_type}}</h5>
                                </div>

                                <div id="sel_adjustment_{{adjustment.id}}"
                                     style="margin-bottom: -20px; visibility: hidden">
                                    <button class="btn btn-primary origin">Selected</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createAdvertiseModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><br><br>Get Started With Something New!</h4>
                </div>

                <div class="modal-body">
                    <div class="card anim-btn text-center">
                        <a href="{% url 'create_classified_ad' %}"><h4><span class="success">+</span> New Ad
                            Campaign</h4></a>
                    </div>
                    <div class="card anim-btn text-center mt-2">
                    </div>
                    <div class="card anim-btn text-center mt-2">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var salesperson_id = "{{ salesperson_id }}";

    $(document).ready(function () {
        $('#search-select').select2();
    });
</script>

<script>
    var currentSection = 1;

    function showSection(section) {
        // Hide the current section
        var currentSectionElement = document.getElementById('section' + currentSection);
        currentSectionElement.classList.add('hide');

        // Show the specified section
        var targetSectionElement = document.getElementById('section' + section);
        targetSectionElement.classList.remove('hide');

        // Update the current section variable
        currentSection = section;
    }

    $('#datepicker1').datepicker({
        uiLibrary: 'bootstrap'
    });

    $('#datepicker2').datepicker({
        uiLibrary: 'bootstrap'
    });
</script>
{% endblock %}