{% extends "templates/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "admin/css/advertiser.css" %}">
{% endblock %}

{% block endjs %}
<script src='{% static "dist/js/advertising/AdvertiserDashboard.js" %}'></script>
{% endblock %}

{% block breadcrumb %}
<li class="active">Advertising</li>
{% endblock %}

{% block content %}

<div class="dashboard mt-2">
    <div>
        <h1 class="text-center mt-1"></i>&nbsp;Advertiser Dashboard</h1>

        <div class="dashboard-title-line"></div>

        <div class="back-advertiser text-left">
            <a class="advertiser-btn-back"><- Back to Advertisers</a>
        </div>

        <div class=" dashboard-content">
            <div class="advertiser-overview">
                <div class="overview-title text-center">
                    < Advertiser Overview >
                </div>

                <div class="overview-menu mt-2">
                    <a id="id_advertiser_overview" class="overview-active" onclick="activateTab(0)">Advertiser Overview</a>

                    <a id="id_overview_activity" onclick="activateTab(1)">Activity</a>

                    <a id="id_order_history" onclick="activateTab(2)">Ad Order History</a>
                </div>
            </div>

            <div id="id_overview_tab">
                <div class="overview-btn-walmart">
                    <button class="overview-btn-edit-info" data-toggle="modal" data-target="#overview-walmart">
                        <i class="fa fa-eyedropper" style="font-size: 10px"></i>Edit Info
                    </button>
                </div>

                <div class="row">
                    <div class="col-md-6 text-left mt-1" style="padding-left:60px">
                        <span class="walmart-title">{{newAccount.contact_name}}</span>
                        <div class="row mt-4">

                            <div class="col-md-4">
                                <span class="walmart-label">Status</span>
                                <p class="mb-2 walmart-content">{{ newAccount.name }}</p>
                                <span class="walmart-label">Address</span>
                                <p class="mb-2 walmart-content">{{ newAccount.address }}</p>
                                <span class="walmart-label">Website</span>
                                <p class="walmart-content" style="text-decoration-line: underline;">{{ newAccount.website }}</p>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                                <span class="walmart-label">Account Type</span>
                                <p class="mb-2 walmart-content">{{ newAccount.account_type_id }}</p>
                                <span class="walmart-label"><i class="fa fa-phone"></i>Phone</span>
                                <p class="mb-2 walmart-content">{{ newAccount.phone }}</p>
                                <span class="walmart-label"><i class="fa fa-envelope-o"></i> Email</span>
                                <p class="walmart-content">{{ newAccount.email }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 60px">
                        <img src="{% static "img/maps.png" %}">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 text-left mt-1" style="margin-left:60px">
                        <div class="billing-line" style="">
                            <span class="billing-label" style="">Billing Info</span>
                            <button class="overview-btn-edit-info pull-right" data-toggle="modal" data-target="#overview-billing">
                                <i class="fa fa-eyedropper" style="font-size: 10px"></i>
                                Edit Billiing Info
                            </button>
                        </div>
                        <div class="billing-rec">
                            <img src="{% static "img/Rectangle_1.png" %}">
                            <span class="billing-rec-total">${{newAccount.total_spent}}</span>
                            <img src="{% static "img/Rectangle_2.png" %}">
                        </div>
                        <div class="row mt-4 mb-2">
                            <div class="col-md-4">
                                <span class="walmart-label">Billing Address</span>
                                <p class="mb-2 walmart-content">{{newAccount.billing_address}}</p>
                                <span class="walmart-label">Credit limit</span>
                                <!--                               <p class="mb-2 walmart-content">Status</p>-->
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <span class="walmart-label ">Billing Email</span>
                                <p class="mb-2 walmart-content ">{{newAccount.billing_email}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                    </div>
                </div>

                <div class="overview-contacts">
                    <div class="overview-contacts-title">
                        <span>Contacts</span>
                    </div>
                    <div class="overview-contacts-contents" style="">
                        <div class="company-section">
                            <div class="editor-section">
                                <div id="contact-section" class="contacts-left-title">
                                    <div class="contacts-left-title-main">
                                        <div class="contacts-left-title-one text-left">
                                            Company Contacts(<span id="id_contact_count"></span>)
                                        </div>
                                        <div class="contacts-left-title-two text-right">
                                            <i class="fa fa-search big-icon" onclick="selSearch()"></i>

                                            <i class="fa fa-filter big-icon" onclick="selFilter()"></i>

                                            <i class="fa fa-plus big-icon" style="padding-right: 40px;"
                                               onclick="addCompany()"></i>
                                        </div>
                                    </div>

                                    <div class="search-section">
                                        <input type="search" class="" id="id_search_contacts" placeholder="Search contacts..."/>

                                        <i class="fa fa-search" onclick="search_contacts()"></i>
                                    </div>

                                    <div class="filter-section">
                                        <div class="filter-ele">
                                            <span>Status:</span>
                                            <select id="id_filter_status">
                                                <option value="2">Active & inActive</option>
                                                <option value="1">Active</option>
                                                <option value="0">inActive</option>
                                            </select>
                                        </div>

                                        <div class="filter-ele">
                                            <span>Department:</span>
                                            <select id="id_filter_dept">

                                                    <option disabled selected value="0">All</option>
                                                    {%for dept in department%}
                                                    <option value="{{dept.id}}">{{dept.name}}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>

                                        <a class="filter-apply" onclick="filterContacts()">Apply</a>
                                    </div>

                                </div>

                                <div class="contacts-left-active">
                                    <span class="contacts-left-active-title" style="">Active</span>
                                    <div class="contacts-left-active-border" style=""></div>
                                </div>
                                <div class="contacts-left-active-menu" id="id_active_items">
                                </div>

                                <div class="contacts-left-active">
                                    <span class="contacts-left-inactive-title" style="">Inactive</span>

                                    <div class="contacts-left-inactive-border " style=""></div>

                                </div>
                                <div class="contacts-left-active-menu" id="id_inactive_items">

                                </div>

                            </div>

                            <div class="add-company">
                                <div id="company-info" class="company-info">
                                    <div class="section-title">
                                        New Contact
                                    </div>

                                    <div class="ele-row">
                                        <div class="company-item">
                                            <span class="company-item-label">First Name:</span>

                                            <input id="i-first-name" class="form-control shadow" placeholder="Miles">
                                        </div>

                                        <div class="company-item">
                                            <span class="company-item-label">Last Name:</span>

                                            <input id="i-last-name" class="form-control shadow" placeholder="Davis">
                                        </div>
                                    </div>

                                    <div class="ele-row">
                                        <div class="company-item" style="width: 100%">
                                            <span class="company-item-label">Email:</span>

                                            <input id="i-email" class="form-control shadow"
                                                   placeholder="email.example.mail.com">
                                        </div>
                                    </div>

                                    <div class="ele-row">
                                        <div class="company-item">
                                            <span class="company-item-label">Department:</span>

                                            <select id="i-department" class="form-control shadow">
                                                 <option disabled selected value="0">Select</option>
                                                {%for dept in department%}
                                                <option value="{{dept.id}}">{{dept.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="company-item">
                                            <span class="company-item-label">Phone number:</span>

                                            <input id="i-phone-number" class="form-control shadow"
                                                   placeholder="(111)444-3333">
                                        </div>
                                    </div>

                                    <div class="company-primary">
                                        <span>Primary Company Contact: </span>

                                        <svg id="company-star" class="" xmlns="http://www.w3.org/2000/svg" width="40"
                                             height="38" viewBox="0 0 40 38" fill="none" onclick="selStar()">
                                            <g filter="url(#filter0_d_0_116)">
                                                <path d="M18.2834 3.04358L14.3776 10.8004L5.6389 12.0483C4.0718 12.271 3.44377 14.1633 4.58021 15.2472L10.9024 21.2816L9.40712 29.8059C9.13796 31.3467 10.7948 32.5009 12.1824 31.7803L20 27.7554L27.8176 31.7803C29.2052 32.495 30.862 31.3467 30.5929 29.8059L29.0976 21.2816L35.4198 15.2472C36.5562 14.1633 35.9282 12.271 34.3611 12.0483L25.6224 10.8004L21.7166 3.04358C21.0168 1.66094 18.9892 1.64337 18.2834 3.04358Z"
                                                      fill="white"/>
                                            </g>
                                            <defs>
                                                <filter id="filter0_d_0_116" x="0" y="0" width="40" height="38"
                                                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                                    <feColorMatrix in="SourceAlpha" type="matrix"
                                                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                                   result="hardAlpha"/>
                                                    <feOffset dy="2"/>
                                                    <feGaussianBlur stdDeviation="2"/>
                                                    <feComposite in2="hardAlpha" operator="out"/>
                                                    <feColorMatrix type="matrix"
                                                                   values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                                    <feBlend mode="normal" in2="BackgroundImageFix"
                                                             result="effect1_dropShadow_0_116"/>
                                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_116"
                                                             result="shape"/>
                                                </filter>
                                            </defs>
                                        </svg>
                                    </div>

                                    <div class="company-option">
                                        <a class="create-contact" onclick="createContact({{ newAccount.id }})">Create Contact</a>

                                        <a class="cancel-contact" onclick="cancelContact()">Cancel</a>
                                    </div>
                                </div>

                                <button id="add-company" class="contacts-btn" onclick="addCompany()">Add a New Company
                                    Contact
                                </button>

                                <img id="company-backImg" src="{% static "img/Ellipse_2.png" %}">
                            </div>
                        </div>

                        <!--                    <div class="col-md-6"></div>-->
                    </div>
                </div>
            </div>

            <div id="id_activity_tab" class="disable-tab">
                <div class="activity-section-one">
                    <div class="action-section-one-left">
                        <div class="action-section-one-left-title">
                            <img class="mr-1 title-icon" src="{% static 'svg/to_do.svg' %}">
                            To Do's
                        </div>

                        <div class="to-do-option">
                            <div class="new-task" data-target="#new-task" data-toggle="modal" onclick="initialTaskModal()">
                                <i class="fa fa-plus"></i>
                                New Task
                            </div>

                            <div class="to-do-toogle ">
                                <div id="id_to_active" class="toogle-active" onclick="toogle(0)">Active</div>

                                <div id="id_to_complete"  onclick="toogle(1)">Complete</div>
                            </div>
                        </div>

                        <div class="action-section-one-left-content" id="id_todo_task_list">

                        </div>
                    </div>

                    <div class="action-section-one-right">
                        <div class="action-section-one-left-title">
                            <img class="mr-1 title-icon" src="{% static 'svg/recent.svg' %}" alt="refresh">
                            Recent Activity
                        </div>

                        <div class="activity-option">
                            <select class="activity-filter">
                                <option selected disabled value="0">Filter</option>
                                <option value="1">Filter1</option>
                                <option value="2">Filter2</option>
                                <option value="3">Filter3</option>
                                <option value="4">Filter4</option>
                            </select>
                        </div>

                        <div class="action-section-one-left-content">
                            <div class="activity-item">
                                <div class="activity-date">11 / 13</div>
                                <div class="activity-title">New ad campaign booked</div>
                            </div>

                            <div class="activity-item">
                                <div class="activity-date">11 / 13</div>
                                <div class="activity-title">New ad campaign booked</div>
                            </div>

                            <div class="activity-item">
                                <div class="activity-date">11 / 13</div>
                                <div class="activity-title">New ad campaign booked</div>
                            </div>

                            <div class="activity-item">
                                <div class="activity-date">11 / 13</div>
                                <div class="activity-title">New ad campaign booked</div>
                            </div>

                            <div class="activity-item">
                                <div class="activity-date">11 / 13</div>
                                <div class="activity-title">New ad campaign booked</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="overview-contacts">
                    <div class="overview-contacts-title">
                        <img class="mr-1 title-icon" src="{% static 'svg/sales.svg' %}" alt="sales">
                        <span>Sales</span>
                    </div>

                    <div class="activity-sales-display mt-4">
                        Display Sales By:
                    </div>

                    <div class="activity-menu mt-2 ">
                        <a id="id_activity_time" class="activity-active" onclick="selSalesTab(0)">Time</a>
                        <a id="id_activity_product" onclick="selSalesTab(1)">Products</a>
                        <a id="id_activity_format" onclick="selSalesTab(2)">Format/Ad Type</a>
                    </div>
                </div>

                <div class="activity-sales-content">
                    <div class="sales-content-header">
                        <div class="sales-content-header-section">
                            Year
                        </div>

                        <div class="sales-content-header-section">
                            Print Sales
                        </div>

                        <div class="sales-content-header-section">
                            Digital Sales
                        </div>

                        <div class="sales-content-header-section">
                            Totals
                        </div>
                    </div>

                    <div class="sales-content-body">
                        <div class="table-row">
                            <div class="table-column">2020</div>
                            <div class="table-column">$155</div>
                            <div class="table-column">$111</div>
                            <div class="table-column">$266</div>
                        </div>

                        <div class="table-row">
                            <div class="table-column">2020</div>
                            <div class="table-column">$155</div>
                            <div class="table-column">$111</div>
                            <div class="table-column">$266</div>
                        </div>

                        <div class="table-row">
                            <div class="table-column">2020</div>
                            <div class="table-column">$155</div>
                            <div class="table-column">$111</div>
                            <div class="table-column">$266</div>
                        </div>

                        <div class="table-row">
                            <div class="table-column">2020</div>
                            <div class="table-column">$155</div>
                            <div class="table-column">$111</div>
                            <div class="table-column">$266</div>
                        </div>

                        <div class="table-row">
                            <div class="table-column">2020</div>
                            <div class="table-column">$155</div>
                            <div class="table-column">$111</div>
                            <div class="table-column">$266</div>
                        </div>

                        <div class="table-row">
                            <div class="table-column">2020</div>
                            <div class="table-column">$155</div>
                            <div class="table-column">$111</div>
                            <div class="table-column">$266</div>
                        </div>

                        <div class="table-row">
                            <div class="table-column">2020</div>
                            <div class="table-column">$155</div>
                            <div class="table-column">$111</div>
                            <div class="table-column">$266</div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="id_order_history_tab" class="disable-tab">
                <div class="history-condition">
                    <div class="history-filter" onclick="clickHistoryFilter()">
                        <img class="mr-1" src="{% static 'svg/filter.svg' %}" alt="sales">

                        Filters
                    </div>

                    <div class="history-search">
                        <input type="text" placeholder="Search Orders...">

                        <i class="fa fa-search"></i>
                    </div>

                    <img id="id_history_filter_polygon" src="{% static 'svg/history-polygon.svg' %}" class="history-polygon disable-tab" alt="polygon">
                </div>

                <div class="history-filter-section disable-tab" id="id_history_filter">
                    <div class="filter-condition">
                        <div class="filter-date">
                            <div class="filter-label">Date: </div>

                            <select class="filter-ele">
                                <option selected disabled value="0">Select</option>
                                <option>Most Recent</option>
                                <option>Oldest</option>
                            </select>
                        </div>

                        <div class="filter-creator">
                            <div class="filter-label">Creator: </div>

                            <select class="filter-ele">
                                <option selected disabled value="0">Select</option>
                                <option>Kyle Jernigan</option>
                                <option>Keith Jarret</option>
                                <option>Steve Reich</option>
                            </select>
                        </div>

                        <div class="filter-format">
                            <div class="filter-label">Format: </div>

                            <select class="filter-ele">
                                <option selected disabled value="0">Select</option>
                                <option>ROP</option>
                                <option>Digital</option>
                                <option>Print</option>
                            </select>
                        </div>

                        <div class="filter-pricing">
                            <div class="filter-label">Pricing: </div>

                            <select class="filter-ele">
                                <option selected disabled value="0">Select</option>
                                <option>Highest</option>
                                <option>Lowest</option>
                            </select>
                        </div>
                    </div>

                    <div class="filter-option">
                        <div class="filter-reset">
                            Reset
                        </div>

                        <div class="filter-apply">
                            Apply
                        </div>
                    </div>
                </div>

                <div class="history-table">
                    <div class="history-table-th">
                        <div class="text-left" style="width: 15%">Campaign ID</div>
                        <div class="text-left" style="width: 15%">Name</div>
                        <div class="text-left" style="width: calc(70% / 6)">Date Ordered</div>
                        <div class="text-left" style="width: calc(70% / 6)">Start Date</div>
                        <div class="text-left" style="width: calc(70% / 6)">End Date</div>
                        <div class="text-left" style="width: calc(70% / 6)">Created By</div>
                        <div class="text-left" style="width: calc(70% / 6)">Amount</div>
                        <div class="text-left" style="width: calc(70% / 6)">Format</div>
                    </div>

                    <div class="history-table-tb">
                        <div class="history-table-row">
                            <div class="text-left" style="width: 15%">Campaign ID</div>
                            <div class="text-left" style="width: 15%">Name</div>
                            <div class="text-left" style="width: calc(70% / 6)">Date Ordered</div>
                            <div class="text-left" style="width: calc(70% / 6)">Start Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">End Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">Created By</div>
                            <div class="text-left" style="width: calc(70% / 6)">Amount</div>
                            <div class="text-left" style="width: calc(70% / 6)">Format</div>
                        </div>

                        <div class="history-table-row">
                            <div class="text-left" style="width: 15%">Campaign ID</div>
                            <div class="text-left" style="width: 15%">Name</div>
                            <div class="text-left" style="width: calc(70% / 6)">Date Ordered</div>
                            <div class="text-left" style="width: calc(70% / 6)">Start Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">End Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">Created By</div>
                            <div class="text-left" style="width: calc(70% / 6)">Amount</div>
                            <div class="text-left" style="width: calc(70% / 6)">Format</div>
                        </div>

                        <div class="history-table-row">
                            <div class="text-left" style="width: 15%">Campaign ID</div>
                            <div class="text-left" style="width: 15%">Name</div>
                            <div class="text-left" style="width: calc(70% / 6)">Date Ordered</div>
                            <div class="text-left" style="width: calc(70% / 6)">Start Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">End Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">Created By</div>
                            <div class="text-left" style="width: calc(70% / 6)">Amount</div>
                            <div class="text-left" style="width: calc(70% / 6)">Format</div>
                        </div>

                        <div class="history-table-row">
                            <div class="text-left" style="width: 15%">Campaign ID</div>
                            <div class="text-left" style="width: 15%">Name</div>
                            <div class="text-left" style="width: calc(70% / 6)">Date Ordered</div>
                            <div class="text-left" style="width: calc(70% / 6)">Start Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">End Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">Created By</div>
                            <div class="text-left" style="width: calc(70% / 6)">Amount</div>
                            <div class="text-left" style="width: calc(70% / 6)">Format</div>
                        </div>

                        <div class="history-table-row">
                            <div class="text-left" style="width: 15%">Campaign ID</div>
                            <div class="text-left" style="width: 15%">Name</div>
                            <div class="text-left" style="width: calc(70% / 6)">Date Ordered</div>
                            <div class="text-left" style="width: calc(70% / 6)">Start Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">End Date</div>
                            <div class="text-left" style="width: calc(70% / 6)">Created By</div>
                            <div class="text-left" style="width: calc(70% / 6)">Amount</div>
                            <div class="text-left" style="width: calc(70% / 6)">Format</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="overview-walmart" role="dialog">
        <div class="modal-dialog walmart-model-dig" style=" ">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-notice text-center walmart-model" style=" ">
                    Walmart Edit
                </div>

                <div class="modal-body advertising-modal-body" style="z-index: 1">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>

                                <div class="col-sm-4">
                                    <select class="form-control" name="walmart_status_type" id="id_walmart_status_type">
                                        <option value="1">active</option>
                                        <option value="0">inactive</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="walmart_address" value={{newAccount.address}} id="id_walmart_address"
                                           placeholder="address">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="walmart_website" value={{newAccount.website}} id="id_walmart_website"
                                           placeholder="website">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">AccountType</label>

                                <div class="col-sm-4">
                                    <select class="form-control" name="walmart_account" id="id_walmart_account">
                                        <option disabled selected value="0">Select</option>
                                        {%for accountType in accountTypes%}
                                        <option value="{{accountType.id}}">{{accountType.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">phone</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="walmart_phone" id="id_walmart_phone" value={{newAccount.phone}} placeholder="phone">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="walmart_email" id="id_walmart_email" value={{newAccount.email}} placeholder="email">
                                </div>
                            </div>
                        </div>

                    </form>
                         <div class="modal-footer walmart-model-footer" style="">
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>

                            <button onclick="editWalmartInfo('walmart')" class="btn btn-primary" >Save</button>
                        </div>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="overview-billing" role="dialog">
        <div class="modal-dialog billing_modal" style="">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-notice text-center billing-model-content" style=" ">
                    Billing Info
                </div>

                <div class="modal-body advertising-modal-body" style="z-index: 1">
                    <form class="form-horizontal" >

                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Billing Total</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="billing_total"  value={{newAccount.total_spent}} id="id_billing_total" placeholder="total">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="billing_address"  id="id_billing_address" value={{newAccount.address}}
                                           placeholder="address">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Credit limit</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="billing_credit_limit"  id="id_credit_limit" value={{newAccount.credit_limit}}
                                           placeholder="credit_limit">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="billing_email" id="id_billing_email" value={{newAccount.email}} placeholder="email">
                                </div>
                            </div>
                        </div>

                    </form>
                     <div class="modal-footer" style="display: flex;gap: 40px;justify-content: center">
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <button onclick="editWalmartInfo('billing')" class="btn btn-primary">Save</button>
                        </div>
                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="new-task" role="dialog">
        <div class="modal-dialog" style="position: relative; overflow: hidden">
            <img class="modal-back mr-1 title-icon" src="{% static 'svg/new-task-back.png' %}" alt="sales">

            <div class="modal-content">
                <div class="modal-title">New Task</div>

                <div class="task-title mb-30">
                    <div class="task-label" >Title: </div>

                    <input type="text" class="task-title-input" id="id_task_title" placeholder="EX: Email Target">
                </div>

                <input type="hidden" id="id_task_hidden">

                <div class="task-item-2 mb-30">
                    <div class="task-date">
                        <div class="task-label">Due Date: </div>

                        <input type="date" id="id_task_due_date" style="border-radius: 4px;"/>
                    </div>

                    <div class="task-priority">
                        <div class="task-label">Priority: </div>

                        <select class="task-priority-ele" id="id_task_priority">
                            <option value="1">High</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                        </select>
                    </div>
                </div>

                <div class="task-item-3 mb-30">
                    <div class="task-label" >Description (optional): </div>

                    <textarea id="id_task_content"></textarea>
                </div>

                <div class="task-item-2 mb-30">
                    <div class="task-assign">
                        <div class="task-label">Assigned To: </div>

                        <select class="task-assign-ele" id="id_assign" >
                                <option selected disabled value="0">select assign</option>
                                {% for account in accountInfo %}
                                    <option value="{{ account.id }}">
                                        {{ account.name }}
                                    </option>
                               {% endfor %}

                        </select>
                    </div>

                    <div class="task-note">
                        <div class="task-label">Note (optional): </div>

                        <textarea id="id_task_note"></textarea>
                    </div>
                </div>

                <div class="task-btn">
                    <div class="task-cancel" data-dismiss="modal">Cancel</div>

                    <div class="task-create" id="id_create_task" onclick="createTask()">Save</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
{% endblock %}