{% extends "templates/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "admin/css/advertiser.css" %}">
{% endblock %}

{% block endjs %}
<script src='{% static "dist/js/advertising/AdvertiserDashboard.js" %}'></script>
{% endblock %}

{% block breadcrumb %}
<li class="active">Advertising</li>
{% endblock %}

{% block content %}

<!--<div class="advertising-back-image">-->
<!--    <img src="{% static "svg/advertising_back_img.svg" %}">-->
<!--</div>-->

<div class="dashboard mt-2">
    <div>
        <h1 class="text-center mt-1" ></i>&nbsp;Advertiser Dashboard</h1>
        <div class="dashboard-title-line"></div>
        <div class="back-advertiser text-left">
            <a class="advertiser-btn-back"><- Back to Advertisers</a>
        </div>
        <div class=" dashboard-content">
            <div class="advertiser-overview">
                <div class="overview-title text-center">
                    < Advertiser Overview >
                </div>
                <div class="overview-menu mt-2">
                    <a class="overview-active" id="id_overview_active" href="{% url 'advertiser_dashboard' %}">Advertiser
                        Overview</a>
                    <a id="id_overview_activity" href="{% url 'advertiser_dashboard_activity' %}">Activity</a>
                    <a id="id_order_history" href="{% url 'advertiser_dashboard_order_history' %}">Ad Order History</a>
                </div>
            </div>
            <div class="overview-btn-walmart">
                <button class="overview-btn-edit-info" data-toggle="modal" data-target="#overview_walmart">
                    <i class="fa fa-eyedropper" style="font-size: 10px"></i>Edit Info
                </button>
                <!--                <button class="btn btn-primary" id="id_edit_info" >Edit Info</button>-->
            </div>
            <div class="row">
                <div class="col-md-6 text-left mt-1" style="padding-left:60px">
                    <span class="walmart-title">111920 - Walmart</span>
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <span class="walmart-label">Status</span>
                            <p class="mb-2 walmart-content">Active</p>
                            <span class="walmart-label">Address</span>
                            <p class="mb-2 walmart-content">120 North Market St. Wilmington, NC 28443</p>
                            <span class="walmart-label">Website</span>
                            <p class="walmart-content" style="text-decoration-line: underline;">www..Walmart.com</p>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <span class="walmart-label">Account Type</span>
                            <p class="mb-2 walmart-content">Active</p>
                            <span class="walmart-label"><i class="fa fa-phone"></i>Phone</span>
                            <p class="mb-2 walmart-content">(111) 111-1111</p>
                            <span class="walmart-label"><i class="fa fa-envelope-o"></i> Email</span>
                            <p class="walmart-content">walmartservices@gmail..com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-left: 60px">
                    <img src="{% static "img/maps.png" %}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-left mt-1" style="margin-left:60px">
                    <div class="billing-line" style="">
                        <span class="billing-label" style="">Billing Info</span>
                        <button class="overview-btn-edit-info pull-right" data-toggle="modal"
                                data-target="#overview_billing"><i class="fa fa-eyedropper" style="font-size: 10px"></i>
                            Edit Billiing Info
                        </button>
                    </div>
                    <div class="billing-rec">
                        <img src="{% static "img/Rectangle_1.png" %}">
                        <span class="billing-rec-total">$230.50</span>
                        <img src="{% static "img/Rectangle_2.png" %}">
                    </div>
                    <div class="row mt-4 mb-2">
                        <div class="col-md-4">
                            <span class="walmart-label">Billing Address</span>
                            <p class="mb-2 walmart-content">120 North Market St. Wilmington, NC 28443</p>
                            <span class="walmart-label">Credit limit</span>
                            <!--                               <p class="mb-2 walmart-content">Status</p>-->
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <span class="walmart-label ">Billing Email</span>
                            <p class="mb-2 walmart-content ">walmartservices@gmail..com</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                </div>
            </div>
            <div class="overview-contacts">
                <div class="overview-contacts-title">
                    <span>Contacts</span>
                </div>
                <div class="overview-contacts-contents" style="">
                    <div class="company-section">
                        <div class="editor-section">
                            <div id="contact-section" class="contacts-left-title">
                                <div class="contacts-left-title-main">
                                    <div class="contacts-left-title-one text-left">
                                        Company Contacts(3)
                                    </div>
                                    <div class="contacts-left-title-two text-right">
                                        <i class="fa fa-search big-icon" onclick="selSearch()"></i>

                                        <i class="fa fa-filter big-icon" onclick="selFilter()"></i>

                                        <i class="fa fa-plus big-icon" style="padding-right: 40px;" onclick="addCompany()"></i>
                                    </div>
                                </div>

                                <div class="search-section">
                                    <input type="search" class="" placeholder="Search contacts..."/>

                                    <i class="fa fa-search"></i>
                                </div>

                                <div class="filter-section">
                                    <div class="filter-ele">
                                        <span>Status:</span>
                                        <select>
                                            <option>Active & inActive</option>
                                            <option>Active</option>
                                            <option>inActive</option>
                                        </select>
                                    </div>

                                    <div class="filter-ele">
                                        <span>Department:</span>
                                        <select>
                                            <option>All</option>
                                            <option>filter1</option>
                                            <option>filter2</option>
                                        </select>
                                    </div>

                                    <a class="filter-apply">Apply</a>
                                </div>

                            </div>

                            <div class="contacts-left-active">
                                <span class="contacts-left-active-title" style="">Active</span>
                                <div class="contacts-left-active-border" style=""></div>
                            </div>
                            <div class="contacts-left-active-menu">
                                <div class="contacts-left-active-item">
                                    <div class="contacts-left-first">
                                        1
                                    </div>
                                    <div class="contacts-left-second">
                                        <div class="contacts-left-second-one">
                                            <div class="contact-name-section">
                                                <span id="first-name" class="contact-name">Dave</span>

                                                <span id="last-name" class="contact-name">Brubeck</span>
                                            </div>

                                            -<span id="department" style="font-size: 14px">Billing Contact</span>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="contacts-left-second-two">
                                            <div class="contacts-left-second-two-a">
                                                <div style=""><i class="fa fa-phone font-s-1" style=""></i>Phone
                                                </div>
                                                <div id="phone-number" class="company-data">22222-222</div>
                                            </div>
                                            <div class="contacts-left-second-two-a">
                                                <div><i class="fa fa-envelope-o font-s-1"></i>Email</div>
                                                <div id="email" class="company-data">jazzboy.gmail.com</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contacts-left-third">
                                        <i class="fa fa-pencil midi-icon" onclick="editCompanyContact()"></i>
                                        <i class="fa fa-trash midi-icon"></i>
                                    </div>

                                </div>
                                <div class="contacts-left-active-item">
                                    <div class="contacts-left-first">
                                        2
                                    </div>
                                    <div class="contacts-left-second">
                                        <div class="contacts-left-second-one">
                                            <div class="contact-name-section">
                                                <span class="contact-name">Dave</span>

                                                <span class="contact-name">Brubeck</span>
                                            </div>

                                            <span style="font-size: 12px">-Billing Contact</span>
                                        </div>
                                        <div class="contacts-left-second-two">
                                            <div class="contacts-left-second-two-a">
                                                <div style=""><i class="fa fa-phone" style="font-size:10px"></i>Phone
                                                </div>
                                                <div class="company-data">22222-222</div>
                                            </div>
                                            <div class="contacts-left-second-two-a">
                                                <div><i class="fa fa-envelope-o" style="font-size:10px"></i>Email</div>
                                                <div class="company-data">Jazzboy.gmail.com</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contacts-left-third">
                                        <i class="fa fa-pencil midi-icon"></i>
                                        <i class="fa fa-trash midi-icon"></i>
                                    </div>

                                </div>
                                <div class="contacts-left-active-item">
                                    <div class="contacts-left-first">
                                        3
                                    </div>
                                    <div class="contacts-left-second">
                                        <div class="contacts-left-second-one">
                                            <div class="contact-name-section">
                                                <span class="contact-name">Dave</span>

                                                <span class="contact-name">Brubeck</span>
                                            </div>
                                            <span style="font-size: 12px">-Billing Contact</span>
                                        </div>
                                        <div class="contacts-left-second-two">
                                            <div class="contacts-left-second-two-a">
                                                <div style=""><i class="fa fa-phone" style="font-size:10px"></i>Phone
                                                </div>
                                                <div class="company-data">22222-222</div>
                                            </div>
                                            <div class="contacts-left-second-two-a">
                                                <div><i class="fa fa-envelope-o" style="font-size:10px"></i>Email</div>
                                                <div class="company-data">Jazzboy.gmail.com</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contacts-left-third">
                                        <i class="fa fa-pencil midi-icon"></i>
                                        <i class="fa fa-trash midi-icon"></i>
                                    </div>

                                </div>
                            </div>

                            <div class="contacts-left-active">
                                <span class="contacts-left-inactive-title" style="">Inactive</span>
                                <div class="contacts-left-inactive-border " style=""></div>
                            </div>
                            <div class="contacts-inactive">
                                <div class="contacts-inactive-no">
                                    There are currently no inactive company contacts
                                </div>
                            </div>
                        </div>

                        <div class="add-company">
                            <div id="company-info" class="company-info">
                                <div class="section-title">
                                    New Contact
                                </div>

                                <div class="ele-row">
                                    <div class="company-item">
                                        <span class="company-item-label">First Name:</span>

                                        <input id="i-first-name" class="form-control shadow" placeholder="Miles">
                                    </div>

                                    <div class="company-item">
                                        <span class="company-item-label">Last Name:</span>

                                        <input id="i-last-name" class="form-control shadow" placeholder="Davis">
                                    </div>
                                </div>

                                <div class="ele-row">
                                    <div class="company-item" style="width: 100%">
                                        <span class="company-item-label">Email:</span>

                                        <input id="i-email" class="form-control shadow" placeholder="email.example.mail.com">
                                    </div>
                                </div>

                                <div class="ele-row">
                                    <div class="company-item">
                                        <span class="company-item-label">Department:</span>

                                        <select id="i-department" class="form-control shadow">
                                            <option>Select</option>
                                            <option value="Billing Contact">Billing Contact</option>
                                            <option>option2</option>
                                            <option>option3</option>
                                        </select>
                                    </div>

                                    <div class="company-item">
                                        <span class="company-item-label">Phone number:</span>

                                        <input id="i-phone-number" class="form-control shadow" placeholder="(111)444-3333">
                                    </div>
                                </div>

                                <div class="company-primary">
                                    <span>Primary Company Contact: </span>

                                    <svg id="company-star" class="" xmlns="http://www.w3.org/2000/svg" width="40" height="38" viewBox="0 0 40 38" fill="none" onclick="selStar()">
                                      <g filter="url(#filter0_d_0_116)">
                                        <path d="M18.2834 3.04358L14.3776 10.8004L5.6389 12.0483C4.0718 12.271 3.44377 14.1633 4.58021 15.2472L10.9024 21.2816L9.40712 29.8059C9.13796 31.3467 10.7948 32.5009 12.1824 31.7803L20 27.7554L27.8176 31.7803C29.2052 32.495 30.862 31.3467 30.5929 29.8059L29.0976 21.2816L35.4198 15.2472C36.5562 14.1633 35.9282 12.271 34.3611 12.0483L25.6224 10.8004L21.7166 3.04358C21.0168 1.66094 18.9892 1.64337 18.2834 3.04358Z" fill="white"/>
                                      </g>
                                      <defs>
                                        <filter id="filter0_d_0_116" x="0" y="0" width="40" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                          <feOffset dy="2"/>
                                          <feGaussianBlur stdDeviation="2"/>
                                          <feComposite in2="hardAlpha" operator="out"/>
                                          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_116"/>
                                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_116" result="shape"/>
                                        </filter>
                                      </defs>
                                    </svg>
                                </div>

                                <div class="company-option">
                                    <a class="create-contact">Create Contact</a>

                                    <a class="cancel-contact" onclick="cancelContact()">Cancel</a>
                                </div>
                            </div>

                            <button id="add-company" class="contacts-btn" onclick="addCompany()">Add a New Company Contact</button>

                            <img id="company-backImg" src="{% static "img/Ellipse_2.png" %}">
                        </div>
                    </div>

                    <!--                    <div class="col-md-6"></div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade mt-4" id="overview_walmart" role="dialog">
        <div class="modal-dialog walmart-model-dig" style=" ">

            <img src="{% static " svg/advertising_modal_img.svg" %}" class="advertising-modal-img">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-notice text-center walmart-model" style=" ">
                    Walmart Edit
                </div>

                <div class="modal-body advertising-modal-body" style="z-index: 1">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Status</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="id_walmart_status_type">
                                        <option>active</option>
                                        <option>inactive</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id_walmart_address"
                                           placeholder="address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id_walmart_website"
                                           placeholder="website">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">AccountType</label>
                                <div class="col-sm-4">
                                    <select class="form-control" id="id_walmart_account">
                                        <option disabled selected value="0">Select</option>
                                        {%for accountType in accountTypes%}
                                        <option value="{{accountType.id}}">{{accountType.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id_walmart_phone" placeholder="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id_walmart_email" placeholder="email">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="modal-footer walmart-model-footer" style="">

                    <button class="btn btn-primary">Cancel</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mt-4" id="overview_billing" role="dialog">
        <div class="modal-dialog" style="position: relative; overflow: hidden;height: auto ">
            <img src="{% static " svg/advertising_modal_img.svg" %}" class="advertising-modal-img">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-notice text-center billing-model-content" style=" ">
                    Billing Info
                </div>

                <div class="modal-body advertising-modal-body" style="z-index: 1">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Billing Total</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="id_billing_total" placeholder="total">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id_billing_address"
                                           placeholder="address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Credit limit</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id_credit_limit"
                                           placeholder="credit_limit">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="id_billing_email" placeholder="email">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer" style="display: flex;gap: 40px;justify-content: center">
                    <button class="btn btn-primary">Cancel</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
{% endblock %}