<div id="view_invoices_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Invoices</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped table-condensed" id="view_invoices_table">
                    <thead>
                        <tr>
                            <th>Date Sent</th>
                            <th>Amount</th>
                            <th>Due Date</th>
                            <th>Paid</th>
                            <th>Date Paid</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>